* {box-sizing: border-box;}
body {padding:0;margin:0;}
[class*="col-"] {
    width: 100%;
  }

  [class*="col-"] {
    float:left;
}
/* Konstansok */
.left {float:left;}
.right {float:right;}
.tx-center {text-align: center;}
.tx-justify {text-align: justify;}
.tx-left {text-align: left;}
.tx-right {text-align: right;}
/* Alap beállítások */
header {padding: 1vw;background: linear-gradient(black,darkred, red, darkred,black)}
header .head {float:left;}
#page {width: 90%;margin: 40px auto;display: flex;border: 0px solid black;box-shadow: 0px 0px 10px 2px black;}
/* Header cím testreszabása*/
header h1 {align-content:center;display: flex;justify-content:center; text-align: center;font-size: 6vw;padding:0;margin:0;}
header h1 a {text-decoration: none;position: absolute;display: block;background-image: linear-gradient(-5deg, grey,grey,grey,darkgrey,white,black);color:transparent;-webkit-background-clip: text;background-clip: text;-webkit-text-stroke: 0.1vw black;font-family: Impact;}
header table {border:0.25vw outset white;border-radius:1vw;display:flex;position: relative;left:7vw;top:0.30vw;background: radial-gradient(circle, red, black);}
header table td {padding:0.1vw;}
header table img {filter:grayscale(100%);padding:0.2vw;}
header table a:hover img {border: 0.1vw solid transparent; filter:none;}
#menuline {text-align: center;font-size: 2vw;}
#menuline div {padding:0.5vw;background-color: black;}
#menuline a {color:white;}
#menuline a div:hover {background: linear-gradient(black 80%, red);}
article {padding: 2vw;margin:2vw;}

/* PC */
@media only screen and (min-width: 900px) {
  .col-1 {width: 8.33%;}.col-2 {width: 16.66%;}.col-3 {width: 25%;}.col-4 {width: 33.33%;}.col-5 {width: 41.66%;}.col-6 {width: 50%;}.col-7 {width: 58.33%;}.col-8 {width: 66.66%;}.col-9 {width: 75%;}.col-10 {width: 83.33%;}.col-11 {width: 91.66%;}.col-12 {width: 100%;}
  header h1 a:hover {background-image: linear-gradient(-5deg, darkorange,darkorange,darkorange,orange,yellow,black);color:transparent;-webkit-background-clip: text;background-clip: text;}
.mdis {display: none;}
}
/* Tablet */

@media only screen and (min-width: 768px) and (max-width: 900px) {
  #page {width: 100%;display: flex;margin:0vw;border:none;box-shadow:none;}
    .col-1 {width: 8.33%;}.col-2 {width: 16.66%;}.col-3 {width: 25%;}.col-4 {width: 33.33%;}.col-5 {width: 41.66%;}.col-6 {width: 50%;}.col-7 {width: 58.33%;}.col-8 {width: 66.66%;}.col-9 {width: 75%;}.col-10 {width: 83.33%;}.col-11 {width: 91.66%;}.col-12 {width: 100%;}
    header h1 a:hover {background-image: linear-gradient(-5deg, darkorange,darkorange,darkorange,orange,yellow,black);color:transparent;-webkit-background-clip: text;background-clip: text;}
  .mdis {display: none;}
  }
    

    
    @media only screen and (max-width: 768px) {
        /* Telefon */
        .mcol-1 {width: 8.33%;}.mcol-2 {width: 16.66%;}.mcol-3 {width: 25%;}.mcol-4 {width: 33.33%;}.mcol-5 {width: 41.66%;}.mcol-6 {width: 50%;}.mcol-7 {width: 58.33%;}.mcol-8 {width: 66.66%;}.mcol-9 {width: 75%;}.mcol-10 {width: 83.33%;}.mcol-11 {width: 91.66%;}.mcol-12 {width: 100%;}
        .mnone {display: none;}
        .mdis {display:contents;}
        #page {width: 100%;margin: 0vw;display: flex;border: none;box-shadow: none;}
        header h1 {font-size: 8vw;}
        header h1 a {-webkit-text-stroke: 0.4vw black;margin: 1.5vw 0 0 24vw;}
        header > div img {position: relative; margin:0 0 0 10vw;}   
    }
