body {padding:0;margin:0;}
h1#cim {font-size: 2.5vw; font-family: Arial, Helvetica, sans-serif; text-align: center;}
@media only screen and (min-width: 900px) { /*Pc*/

}

@media only screen and (min-width: 768px) and (max-width: 900px) { /* Tablet */

}

@media only screen and (max-width: 768px) { /* Telefon */
h1#cim {font-size: 5vw;}
#gepem_img{width:50%;}
#gepem .rogstrix{font-size:6vw;margin:0vw;-webkit-text-stroke: black 0.3vw;}
#gepem h2 {font-size:3.5vw;}
#gepem table {width:98%;font-size: 2.5vw;}
#gepem table tr td {border:0.3vw solid black;padding:1vw;}
#gepem .gepem_img {display:none;}
#gepem #rogstriximg {display:block;}
#gepem #rogstriximg img {width:50%;margin: 1vw auto; display: flex;float:none;}
#gepem .peri_img {display:none;}
#gepem .peri_img img {display:none;}
#gepem .gepem_img img {display:none;}
}