body {padding:0;margin:0;}
h1#cim {padding:0;margin:0;-webkit-text-stroke: black 0.1vw;font-size: 2.5vw; font-family: Arial, Helvetica, sans-serif; text-align: center;
    background: linear-gradient(to right, darkorange,red,darkred,orangered,orange);-webkit-background-clip: text;background-clip: text;color: transparent;animation: cim_anim 12s ease-in-out infinite;background-size: 400% 100%;}

/* gepem.html */
@keyframes rainbow_animation {0%,100% {background-position: 0 0;}50% {background-position: 100% 0;}}
@keyframes cim_anim {0%,100% {background-position: 0 0;}50% {background-position: 100% 0;}}
#gepem #gepem_img {width: 40%;display: flex; margin: 0 auto;}
#gepem h2 {text-align: center;}
#gepem .rogstrix {text-align: center;font-size: 3vw;font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;letter-spacing: 0.35vw;-webkit-text-stroke: black 0.05vw;}
#gepem .rogstrixlights {background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);-webkit-background-clip: text;background-clip: text;color: transparent;animation: rainbow_animation 12s ease-in-out infinite;background-size: 400% 100%;}
#gepem .rogstrixlights a:hover {background: linear-gradient(to right, darkorange,red,darkred,orangered,orange);-webkit-background-clip: text;background-clip: text;color: transparent;animation: rainbow_animation 12s ease-in-out infinite;background-size: 400% 100%;}
#gepem .rogstrix a {cursor:url('../img/gepem/rogstrix_pointer.png'),pointer;}
#gepem table {margin: 0 1vw;width:70%;font-weight: bold;font-family:Arial, Helvetica, sans-serif;font-size: 1.5vw;border: 0.2vw solid black;padding:0.35vw;text-align: center;box-shadow: red 0vw 0vw 1vw 0.125vw;background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);animation: rainbow_animation 12s ease-in-out infinite;background-size: 400% 100%;}
#gepen table tr {width:100%;padding:0;}
#gepem table tr td {width: 100%;border: 0.01vw solid black;background: linear-gradient(orangered,red,darkred);padding:0.5vw;}
#gepem table tr td a {color:black; text-decoration: none;}
#gepem .gepem_img {display:none;}
#gepem #rogstriximg {display:none;}
#gepem .gepem_img img {width:24%;display: flex; float:right;margin: 0 1vw;}
#gepem #rogstriximg img {width:24%;display: flex; float:right;margin: 0 1vw;}
#gepem .peri_img {display:none;}
#gepem .peri_img img {width:24%;display: flex; float:right;margin: 0 1vw;}

/* rolam.html */
#rolam_dm_card {padding:1vw;box-shadow: 0vw 0vw 1vw 0.25vw black;border: 0.25vw solid black;width: 40%;margin:1vw auto;background: rgb(249, 101, 101);}
#rolam_dm_card #logo {display:block;width: 50%;margin: 0 auto;}
#rolam_dm_card #logo:hover {display:block;width: 70%;margin: 0 auto;}
#rolam_dm_card #id {color: rgb(33, 33, 33);font-size:1.5vw;text-align: center; padding:0.5vw;border: 0.25vw solid black; width: 70%;margin:0.25vw auto;border-radius: 1vw;background: rgb(255, 124, 124);}
#rolam_dm_card #id span:hover {text-decoration: underline red 0.2vw;}
#rolam_dm_card p {text-align: center;}
#rolam_dm_card #contact_s {text-align: center;font-size: 2vw;font-family: Arial, Helvetica, sans-serif;font-weight: bold;color:black; text-decoration: none;margin:0.5vw 0;padding:0;}
#rolam_dm_card #contact_s:hover {text-decoration: underline 0.4vw red;cursor:pointer;}
#rolam_dm_card #minicons {display: none;}
#rolam_dm_card #minicons #miniconsimg {display:block;text-align: center; width: 100%;}
#rolam_dm_card #minicons #miniconsimg a img {width: 10%;padding:0;}
#rolam_dm_card #minicons #miniconsimg a img:hover {filter:opacity(0.75);}
#rolam_dm_card #sendmail {text-align: center;font-size: 1.25vw;}
#rolam_dm_card #sendmail span {font-size: 1.35vw;color:darkred;font-weight: bold;}

@media only screen and (min-width: 900px) { /*Pc*/

}

@media only screen and (min-width: 768px) and (max-width: 900px) { /* Tablet */

}

@media only screen and (max-width: 768px) { /* Telefon */
h1#cim {font-size: 6vw;-webkit-text-stroke: black 0.3vw;}
#gepem_img{width:50%;}
#gepem .rogstrix{font-size:6vw;margin:0vw;-webkit-text-stroke: black 0.3vw;}
#gepem h2 {font-size:3.5vw;}
#gepem table {width:98%;font-size: 2.5vw;}
#gepem table tr td {border:0.3vw solid black;padding:1vw;}
#gepem .gepem_img {display:none;}
#gepem #rogstriximg {display:block;}
#gepem #rogstriximg img {width:50%;margin: 1vw auto; display: flex;float:none;}
#gepem .peri_img {display:none;}
#gepem .peri_img img {display:none;}
#gepem .gepem_img img {display:none;}
#rolam_dm_card #minicons #miniconsimg a img:hover {filter:none;}
#rolam_dm_card {padding:1.5vw;box-shadow: 0vw 0vw 1vw 0.25vw black;border: 0.75vw solid black;width: 90%;margin:1vw auto;}
#rolam_dm_card #logo:hover {width: 50%}
#rolam_dm_card #id {font-size:2.5vw;padding:0.5vw;border: 0.5vw solid black; width: 70%;margin:0.5vw auto;border-radius: 1.5vw;background: rgb(255, 124, 124);}
#rolam_dm_card #id span:hover {text-decoration: none;}
#rolam_dm_card #contact_s {font-size: 5vw;margin:0;padding:0;}
#rolam_dm_card #sendmail {font-size: 2.75vw;}
#rolam_dm_card #sendmail span {font-size: 3.15vw;}
}
